doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Plantilla tienda virtual
  body
    h2 Este es un titulo h2        
    p Este es un parrafo
    span este es un span
    p.btn.btn-large Estamos en el index de pug
