doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1 user-scalable=no")
    meta(charset="UTF-8")
    title Plantilla tienda virtual
  body
    header
      include vistas/navegador.pug
    main
      h2 Titulo de prueba
    footer
