body
  background peru


// Color
@import "components/color-variables.styl"
@import "components/color-classes.styl"

// Variables;
@import "components/variables.styl"

// Reset
@import "components/normalize.styl"

// components
@import "components/buttons.styl"
